@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

body {
  background-color: #070724;
  background-image: url('../assets/imgs/background-stars.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
